body {
	font-family:Arial;
}
label	{
	font-size:0.8em;
	width:150px;
	float:left;
	margin-top:3px;
}

.help {
	font-size:0.8em;
}

.help ul {
	list-style-type:square;
}

input, select {
	margin:3px;
}
ul {
	padding-left:0px;
	list-style-type:none;
	margin-top:0px;
}
ul li .default {
	background-color:#eef;
	margin:3px;
	padding:3px;
}

.delete {
	float:right;
	margin:4px;
	cursor:pointer;
}
.add {
	cursor:pointer;
}
#save, #print {
	/*border:1px solid #333;
	margin:2px;

	cursor:pointer;
	text-decoration:none;
	background-color:#eef;
	color:Black;
	font-variant:small-caps;*/
	margin:10px;
	padding:10px;
}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 4px 8px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }