<!DOCTYPE html>
<html ng-app="prescriptionApp">
<head>
  <meta charset="utf-8">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Service de Chirurgie Pédiatrique</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h1>Service de Chirurgie Pédiatrique</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/ng-template" id="select.html">
    <div ng-repeat="item in surv.selected">
    <select class="form-control" ng-model="item" ng-options="c.label for c in surv.options track by c.id" ng-change="surv.update(item, $index)"> </select>
    <input ng-model="item.otherOption" type="text" ng-show="isOther(item.id)" ng-change="surv.updateOther(item, $index)" placeholder="Préciser"/>
    <input ng-model="item.posology" type="text" ng-show="surv.hasPosology" ng-change="surv.updatePosology(item, $index)" placeholder="Posologie"/>
    <a ng-click="surv.remove(item, $index)">Supprimer</a>
    </div>
    <button class="btn btn-default" ng-click="surv.add()">Ajouter</button>
    </script>
    <div class="row">
      <div class="col-xs-6">
        <form role="form">
          <div ng-controller="MainCtrl as ctrl">
            <button class="btn btn-default" ng-click="ctrl.create()">Nouvelle prescription</button>
            <button class="btn btn-default" ng-click="ctrl.save()">Sauvegarder</button>
            <button class="btn btn-default" ng-click="ctrl.print()">Imprimer</button>
            <fieldset>
              <legend>Informations générales</legend>

              <div class="form-group">
                <label for="date">Date</label>
                <input class="form-control" ng-model="ctrl.date" placeholder="Date" type="date"/>
              </div>

              <div class="form-group">
                <label for="lastname">Nom</label>
                <input class="form-control" ng-model="ctrl.lastname" placeholder="Nom" type="text" name="lastname"/>
              </div>

              <div class="form-group">
                <label for="firstname">Prénom</label>
                <input class="form-control" ng-model="ctrl.firstname" placeholder="Prénom" type="text" name="firstname"/>
              </div>

              <div class="form-group">
                <label for="birthdate">Date de naissance</label>
                <input class="form-control" ng-model="ctrl.birthdate" placeholder="Date de naissance" type="date" id="medication.birthdate" name="birthdate" />
              </div>
            </fieldset>

            <fieldset>
              <legend>Date</legend>
              <div class="form-group">
                <label for="intervention-date">Date d'intervention</label>
                <input class="form-control" ng-model="ctrl.interventionDate" placeholder="Date" type="date" name="intervention-date"/>
              </div>

              <div class="form-group">
                <label for="intervention">Intervention</label>
                <input class="form-control" ng-model="ctrl.intervention" placeholder="Intervention" type="text" name="intervention"/>
              </div>
            </fieldset>

            <fieldset>
              <legend>Préscripteurs</legend>
              <div class="form-group">
                <label for="prescriptor-senior">Préscripteur senior</label>
                <select class="form-control" ng-model="ctrl.prescriptorSenior"
                ng-options="c.id as c.label for c in ctrl.prescriptorSeniors" name="prescriptor-senior"> </select>
              </div>

              <div class="form-group">
                <label for="prescriptor-intern">Préscripteur interne</label>
                <select class="form-control" ng-model="ctrl.prescriptorIntern"
                ng-options="c.id as c.label for c in ctrl.prescriptorInterns" name="prescriptor-intern"> </select>
              </div>

            </fieldset>
            <fieldset>
              <legend>Poids</legend>
              <div class="form-group">
                <label for="birth-weight">Poids de naissance</label>
                <input class="form-control" ng-model="ctrl.birthWeight" placeholder="Poids" type="text" name="birth-weight"/>
              </div>

              <div class="form-group">
                <label for="current-weight">Poids du jour</label>
                <input class="form-control"  ng-model="ctrl.currentWeight" placeholder="Poids" type="text" name="current-weight"/>
              </div>

            </fieldset>

            <fieldset>
              <legend>Surveillance</legend>
              <div ng-init="setOptions('supervisions');" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Alimentation</legend>
              <div ng-init="setOptions('alimentations', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Drains et sondes</legend>
              <div ng-init="setOptions('drains');" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Perfusion de base</legend>
              <div ng-init="setOptions('perfusions', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Compensations pertes digestives</legend>
              <div ng-init="setOptions('compensations');" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Analgésie IV IR</legend>
              <div ng-init="setOptions('analgesies4IR', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Analgésie et Antipyretiques per os</legend>
              <div ng-init="setOptions('analgesies', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Antibiotiques</legend>
              <div ng-init="setOptions('antibiotics', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Autres traitements</legend>
              <div ng-init="setOptions('others', true);" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <legend>Mesures associées</legend>
              <div ng-init="setOptions('measures');" ng-controller="SelectCtrl as surv" ng-include="'select.html'"></div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label for="todo">A prévoir</label>
                <textarea class="form-control" ng-model="ctrl.todo" placeholder="A prévoir" name="todo"></textarea>
              </div>
            </fieldset>

          </div>
        </form>
      </div>
      <div class="col-xs-6">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a onclick="return false;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                  AIDE ANALGESIE IV IR
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <ul>
                  <li>PERFALGAN IVL 15 mn  15mg/kg/6h</li>
                  <li>NUBAIN IVL 20 mn  0,2mg/kg/6h</li>
                  <li>PCA Morphine   cf protocole</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a onclick="return false;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                  AIDE ANALGESIE et ANTYPYRETIQUES per os
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
               <ul>
                <li>CODENFAN 1mg/kg/6h</li>
                <li>KALINOX lors soins douloureux</li>
                <li>DOLIPRANE  dose poids ttes les 6 h soit 60mg/kg/j</li>
                <li>HYPNOVEL IR   0,2mg à 0,5mg/kg</li>
                <li>ADVIL  dose poids ttes les 6 h soit 30mg/kg/j</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a onclick="return false;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                AIDE AUTRES TRAITEMENTS
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>DITROPAN  1/2 cp  4 fois par jour</li>
                <li>ZOPHREN IVL 5mn 0,1 mg/Kg/j  max 4mg/j</li>
                <li>PRIMPERAN 0,5 mg/kg/j en 4 prises </li>
                <li>MOTILIUM dose poids 4 fois par jour </li>
                <li>INEXIUM 10 mg  1mg/k/j </li>
                <li>MOPRAL  1mg/k/j </li>
                <li>UVESTEROL dose N°1 par jour</li>
                <li>VITAMINE K1  1 ampoule/semaine si allaitement exclusif</li>
                <li>LOVENOX  0,2 ml/j SC</li>
                <li>Oxygène lunettes QSP sat> 95%</li>
                <li>CHOLESTASES : Vitamine A  50000 U IM tous les mois(amp 2 ml =100000U)     Vitamine D  5mg = 200000U IM / 3 mois(amp 1,5 ml = 600000U) Vitamine E  10 mg/kg  IM/ 15j sans dépasser 200 mg (amp 2 ml =100 mg) Vitamine K 10 mg IVDL /15 jours (amp 1 ml = 10 mg )</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a onclick="return false;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                AIDE ANTIBIOTIQUES
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li>AUGMENTIN PO : dose poids 3 fois par jour </li>
                <li>BACTRIM PO préventif 0,25ml/kg 1 fois/j </li>
                <li>CLAMOXYL PO : 50 à 100mg/kg/j  </li>
                <li>ORACILLINE PO : 50 à 100000 U/kg/j </li>
                <li>OROKEN PO: dose poids 2 fois par jour </li>
                <li>AUGMENTIN IVL 100 mg/kg/j en 3 fois </li>
                <li>CLAFORAN IVL  100 mg/kg/j en 3 fois </li>
                <li>CLAMOXYL IVL   100 mg/kg/j en 3 fois </li>
                <li>GENTA IV 3mg/kg/j en perf de 30' </li>
                <li>PENICILLINE IVL 100000U/kg/j en 3 fois</li>
                <li>ROCEPHINE IVL  50 mg/kg  1 fois par jour</li>
                <li>TAZOCILLINE IV 240à320mg/kg/j en 3 perf de 30'</li>
                <li>AMIKLIN 15 mg/kg/j  1fois par jour</li>
                <li>TIENAM 60à100 mg/kg/j en 4 perfusion de 30'</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>


    <script type="text/javascript">
    angular.module('prescriptionApp', [])
    .controller('MainCtrl', ['$scope', 'PrescriptionService', function($scope, PrescriptionService){

      var prescription = PrescriptionService.getPrescription()
      var self = this;
      self.date = prescription.date;
      self.lastname = prescription.lastname;
      self.firstname = prescription.firstname;
      self.birthdate = prescription.birthdate;

      self.prescriptorSenior = prescription.prescriptorSenior;
      self.prescriptorIntern = prescription.prescriptorIntern;

      self.birthWeight = prescription.birthWeight;
      self.currentWeight = prescription.currentWeight;

      self.todo = prescription.todo;

      self.prescriptorSeniors = [
      {label: "Pr MARTELLI", id: 1},
      {label: "Dr BRANCHEREAU", id: 2},
      {label: "Dr DERGUINI", id: 3},
      {label: "Dr DE DREUZY", id: 4},
      {label: "Dr FOUQUET", id: 5},
      {label: "Pr GAUTHIER", id: 6},
      {label: "Dr GOLDSZMIDT", id: 7},
      {label: "Dr HAUTEFORT", id: 8},
      {label: "Dr MONTUPET", id: 9},
      {label: "Dr GUERIN", id: 10},
      {label: "Dr DE LAMBERT", id: 11},
      {label: "Dr BOUBNOVA", id: 12}
      ]

      self.prescriptorInterns = [
      {label: "KOHAUT", id: 1},
      {label: "TABONE", id: 2},
      {label: "KHESRANI", id: 3},
      {label: "MONTARULI", id: 4}
      ]

      self.save = function(){
        var obj = {
          date: self.date,
          lastname: self.lastname,
          firstname: self.firstname,
          birthdate: self.birthdate,
          prescriptorSenior: self.prescriptorSenior,
          prescriptorIntern: self.prescriptorIntern,
          birthWeight: self.birthWeight,
          currentWeight: self.currentWeight,
          todo: self.todo
        }
        PrescriptionService.savePrescription(obj);
        $scope.$broadcast('save');
      }

      self.create = function(){

      }

      self.print = function(){

      }
    }])
.controller('SelectCtrl', ['$scope', 'PrescriptionService', function($scope, PrescriptionService) {

  var self = this;

  $scope.setOptions = function(param, hasPosology){
    self.param = param;
    self.options =  PrescriptionService.getOptions(param)
    self.selected = PrescriptionService.getPrescription()[param]
    if(hasPosology) self.hasPosology = true;
  }

  $scope.isOther = function(id){
    if(self.options[id].isOther){
      return true
    }
    else{
      return false
    }
  }

  self.add = function(){
    self.selected.push({id:0});
  }
  self.update = function(item, index){
    self.selected[index] = item
  }
  self.updateOther = function(item, index){
    console.log(item.otherOption);
    self.selected[index]['otherOption'] = item.otherOption
  }
  self.updatePosology = function(item, index){
    console.log(item.posology, index);
    self.selected[index]['posology'] = item.posology
  }

  self.remove = function(item, index){
    self.selected.splice(index, 1);
  }
  self.save = function(){
    var obj = {};
    obj[self.param] = self.selected;
    PrescriptionService.savePrescription(obj);
  }
  $scope.$on('save', function(event){
    self.save()
  })
}])
.controller('ExtendedSelectCtrl', ['$scope', 'PrescriptionService', function($scope, PrescriptionService){

}])
.factory('PrescriptionService', [function(){
  var prescription = {
    date: '',
    firstname: '',
    lastname: '',
    birthdate: '',
    interventionDate: '',
    intervention: '',
    prescriptorSenior: '',
    prescriptorIntern: '',
    birthWeight: '',
    currentWeight: '',
    supervisions: [],
    alimentations: [],
    drains: [],
    perfusions: [],
    compensations: [],
    analgesies4IR: [],
    analgesies: [],
    antibiotics: [],
    others: [],
    measures: [],
    todo: ''
  }

  var supervisions = [
  {id: 0, label: 'Pouls,FR,SaO2,T,PA/4h'},
  {id: 1, label: 'Pouls,FR,SaO2,T,PA/8h'},
  {id: 2, label: 'OPS ou EVA/ 8h'},
  {id: 3, label: 'Dextro /12h'},
  {id: 4, label: 'Hemocue /12h'},
  {id: 5, label: 'SG / 8 h  et/ou Drain / 8h'},
  {id: 6, label: 'Diurèse / 24 h'},
  {id: 7, label: 'Poids 1x/j'},
  {id: 8, label: 'Ingestas 1x/j'},
  {id: 9, label: 'Scope'},
  {id: 10, label: 'Kasai : si T°>38,5 ou< 36 faire nfs, crp, pct, hémoc,bhc,ecbu et Tel IDG 14651'},
  {id: 11, label: 'Autre', isOther: true}
  ]

  var alimentations = [
  {id: 0, label:"Boisson" },
  {id: 1, label:"Normale" },
  {id: 2, label:"BYC" },
  {id: 3, label:"A jeun" },
  {id: 4, label:"Diététique" },
  {id: 5, label:"Lait 1er âge" },
  {id: 6, label:"Peptijunior" },
  {id: 7, label:"Allaitement maternel" },
  {id: 8, label:"NEDC" },
  {id: 9, label:"Enrichissement Maltodextridine" },
  {id: 10, label:"Enrichissement DM" },
  {id: 11, label:"Autre", isOther: true}
  ];
  var drains = [
  {id: 1, label: "Sonde nasogastrique au sac"},
  {id: 2, label: "Sonde nasogastrique déclive"},
  {id: 3, label: "Sonde nasogastrique aspiration -20 cmH2O"},
  {id: 4, label: "Ablation sonde nasogastrique"},
  {id: 5, label: "Mobilisation lame/drain"},
  {id: 6, label: "Ablation lame/drain"},
  {id: 7, label: "Ablation sonde urinaire"},
  {id: 8, label: "other", other: true}
  ];
  var perfusions = [
  {id: 1, label: "B 46 en ml/h"},
  {id: 2, label: "Parentérale (cf protocole )"},
  {id: 3, label: "other", other: true}
  ];
  var compensations = [
  {id:1, label:"SG vol/vol ttes les 4 h par Ringer Lactate"},
  {id:2, label:"Drain biliaire vol/vol ttes les 4 h par eau de Vichy"},
  {id:3, label: "other", other: true}
  ];
  var analgesies4IR = [
  {id:1, label:"PERFALGAN"},
  {id:2, label:"NUBAIN"},
  {id:3, label:"PCA Morphine"},
  {id:4, label:"HYPNOVEL IR"},
  {id:5, label:"Autre", other: true}
  ];
  var analgesies = [
  {id:1, label:"Si EVA ≥ 3 ou EVENDOL ≥ 4 donner DOLIPRANE"},
  {id:2, label:"CODENFAN"},
  {id:3, label:"KALINOX"},
  {id:4, label:"SPASFON"},
  {id:5, label:"Autre", other: true}
  ];
  var antibiotics = [
  {id:1, label:"AUGMENTIN PO"},
  {id:2, label:"BACTRIM PO"},
  {id:3, label:"CLAMOXYL PO"},
  {id:4, label:"ORACILLINE PO"},
  {id:5, label:"OROKEN PO"},
  {id:6, label:"AUGMENTIN IV"},
  {id:7, label:"CLAFORAN IV"},
  {id:8, label:"CLAMOXYL IV"},
  {id:9, label:"GENTA IV"},
  {id:10, label:"PENICILLINE IV"},
  {id:11, label:"ROCEPHINE IV"},
  {id:12, label:"TAZOCILLINE IV"},
  {id:13, label:"TIENAM IV"},
  {id:14, label:"Autre", other: true}
  ];
  var others = [
  {id:1, label:"DITROPAN"},
  {id:2, label:"ZOPHREN"},
  {id:3, label:"MOTILIUM"},
  {id:4, label:"MOPRAL"},
  {id:5, label:"INEXIUM"},
  {id:6, label:"UVESTEROL"},
  {id:7, label:"VITAMINE K1"},
  {id:8, label:"LOVENOX"},
  {id:9, label:"OXYGENE lunettes"},
  {id:10, label:"RIFAMYCINE collyre"},
  {id:11, label:"Autre", other: true}
  ];
  var measures = [
  {id:1, label:"Isolement"},
  {id:2, label:"Pansements : irrigation…"},
  {id:3, label:"Décubitus strict"},
  {id:4, label:"Mobilisation"},
  {id:5, label:"Fauteuil"},
  {id:6, label:"Promenade dans le service"},
  {id:7, label:"Maison de l'enfant"},
  {id:8, label:"Kine respiratoire"},
  {id:9, label:"Psychomotricienne"},
  {id:10, label:"Autre", other: true}
  ];

  return {
    getPrescription: function(){
      return prescription;
    },
    savePrescription: function(obj){
      for(var property in obj){
        if(obj.hasOwnProperty(property)){
          prescription[property] = obj[property];
        }
      }
    },
    getOptions: function(param){
      return eval(param) // ugly ugly
    }
  }
}
])
</script>
</div>
</body>
</html>
